:root {
    ---primary-color-dark: #080415;
    ---primary-color-grey: #51586a;
    ---primary-color-light: #5d3bee;
}

/* PC */
@media screen and (min-width: 992px) {
    .show-on-mobile {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    /* Common */

    .section-heading {
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1.17;
    }

    .section-desc {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 1.63;
    }

    .btn {
        font-size: 1.6rem;
        width: 147px;
        height: 55px;
        font-weight: 700;
        line-height: 1.88;
        white-space: nowrap;
    }

    .btn-link {
        font-size: 1.6rem;
        line-height: 1.88;
    }

    .nav {
        display: none;
    }

    .header__inner {
        flex-direction: row-reverse;
    }

    .header__mail-link {
        display: none;
    }

    .toggle-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 1px solid #dcd4fc;
        cursor: pointer;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 0 0 40%;
        background: #fff;
        z-index: 1;
        transform: translateX(100%);
        transition: 0.5s ease;
        padding: 15px;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
        z-index: 1;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0%);
    }

    .menu-drawer__text-mail {
        color: var(---primary-color-dark);
        font-size: 2.2rem;
        font-weight: 500;
        line-height: 1.36;
        text-decoration-line: underline;
    }

    .nav-on-mobile {
        margin-top: 40px;
        display: block;
    }

    .nav__list-on-mobile {
        flex-direction: column;
        row-gap: 43px;
    }

    .nav__link {
        font-weight: 500;
    }

    .separate {
        border-bottom: 1px solid #d6d3e2;
    }

    .hero__row {
        display: flex;
    }

    .hero__order-mobile {
        order: 2;
    }

    .hero__decor-bg-right {
        display: none;
    }

    .hero__img-people {
        display: block;
        width: 100%;
        max-width: 514px;
        margin: 0 auto;
        height: auto;
    }

    .hero__decor-bg-left {
        width: 100%;
        left: 0;
        top: 0;
    }

    /* Client */

    .client__heading-wrap {
        display: flex;
        flex-direction: column;
    }

    .client__heading {
        flex-direction: column;
        align-items: center;
        position: relative;
        text-align: center;
    }

    .client__list {
        margin-top: 42px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 35px;
    }

    .special__list {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        overflow: hidden;
        gap: 0;
    }

    .special__item {
        flex: 0 0 auto;
        margin: 0 auto;
        max-width: 350px;
    }

    .project__row {
        flex-direction: column;
        justify-content: center;
    }

    .project__heading {
        text-align: center;
        width: 301;
    }

    .project__desc {
        margin-top: 20px;
        text-align: center;
        width: 350px;
        margin-left: 0px;
    }

    .stats::before,
    .stats::after {
        width: 100%;
    }
    /* Video & Stats */
    .video__welcome-text {
        font-size: 2rem;
        line-height: 2;
    }

    .video__heading {
        font-size: 3.6rem;
        line-height: 1.17;
    }

    .video__desc {
        font-size: 1.6rem;
        line-height: 1.63;
    }

    .stats {
        margin: 50px 0 40px 0;
    }

    .stats__number {
        font-size: 3rem;
        line-height: 1.4;
    }

    .stats__text {
        margin-top: 6px;
        font-size: 1.6rem;
        line-height: 1.38;
        text-align: left;
    }

    .review__content {
        margin-top: 40px;
    }

    .review__quote {
        font-size: 1.8rem;
        font-weight: 400;
        line-height: 1.67;
    }

    .review__name {
        font-size: 2.4rem;
        line-height: 1.67;
    }

    .review__profile-decs {
        font-size: 1.6rem;
        line-height: 1.81;
    }

    .questions__item {
        margin-bottom: 0px;
    }

    .questions__heading {
        max-width: 316px;
    }

    .questions__heading {
        max-width: 316px;
    }

    .questions__title {
        font-size: 2.4rem;
        max-width: 264px;
    }

    .questions__head:after {
        bottom: 15;
    }

    /* Gallery */
    .gallery {
        margin-top: 120px;
    }

    .gallery__desc {
        margin-top: 20px;
    }

    .gallery__mail-text {
        margin-top: 10px;
        font-size: 2rem;
    }

    .gallery__list {
        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        overflow-x: hidden;
        gap: 0;
    }

    .gallery__img {
        display: block;
        flex: 0 0 auto;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
    }

    /* Action */

    .action {
        margin-top: 120px;
    }

    .action__wrap {
        padding: 36px 0;
        overflow: hidden;
    }

    .action__wrap::after,
    .action__wrap::before {
        content: "";
        display: none;
    }

    .action__decor {
        width: auto;
        height: auto;
    }

    /* Footer */
    .copyright__inner {
        flex-direction: column;
        row-gap: 49px;
        align-items: center;
        justify-content: center;
        border: none;
    }

    .copyright__policy {
        order: 1;
        text-align: center;
    }

    .copyright__text {
        order: 2;
        text-align: center;
    }

    .mobile-display.footer {
        margin-top: 240px;
    }

    .mobile-display.header__inner {
        flex-direction: column;
        row-gap: 20px;
    }

    .mobile-display.logo {
        bottom: 200px;
        order: 1;
    }

    .mobile-display.header__mail {
        order: 2;
        margin-top: 58px;
    }

    .mobile-display.header__mail-link {
        order: 3;
        display: block;
    }

    .mobile-display.nav {
        display: block;
    }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .hero__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .special__item {
        width: 100%;
        max-width: 100%;
    }
}

/* Mobile */
@media screen and (max-width: 767px) {
    .nav__list-on-mobile {
        row-gap: 20px;
    }
}
